tl_2018_us_state.prj filter=lfs diff=lfs merge=lfs -text
tl_2018_us_state.shp filter=lfs diff=lfs merge=lfs -text
tl_2018_us_state.shp.ea.iso.xml filter=lfs diff=lfs merge=lfs -text
tl_2018_us_state.shp.iso.xml filter=lfs diff=lfs merge=lfs -text
tl_2018_us_state.shx filter=lfs diff=lfs merge=lfs -text
tl_2018_us_state.cpg filter=lfs diff=lfs merge=lfs -text
tl_2018_us_state.dbf filter=lfs diff=lfs merge=lfs -text
